# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/
# And all the file types you're interested in.
!*.html
!*.jsp
!*.java
!*.jar
!*.txt
!*.css
!*.js
!*.svg
!.gitignore
!*.sql
/build/